<header class="header js-fixed">
    <div class="header__in row">
        <nav class="navigation">
            <ul class="menu">
                <li class="menu__item"><a class="menu__link" href="#">sdfsdfsd</a></li>
                <li class="menu__item"><a class="menu__link" href="#">gfhfhgh</a></li>
                <li class="menu__item"><a class="menu__link" href="#">wdewfghry</a></li>
                <li class="menu__item"><a class="menu__link" href="#">gjilfgrgikj</a></li>
            </ul>
        </nav>
        <div class="header__tools">
            <button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#login">LOGIN</button>
        </div>
    </div>
</header>